<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<pluginGroups>
      <pluginGroup>org.mule.tools</pluginGroup>
    </pluginGroups>
  <servers>
    <server>
      <id>muleforge.webdav.releases</id>
      <username>raffaele.picardi</username>
      <password>pi31rdi</password>
    </server>
    <server>
      <id>muleforge.webdav.snapshots</id>
   <username>raffaele.picardi</username>
      <password>pi31rdi</password>
    </server>
	  <server>
	<id>muleforge.webdav.sites</id>
   <username>raffaele.picardi</username>
      <password>pi31rdi</password>
</server>
	
  </servers>
</settings>

